services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080-8081:8080"
    volumes:
      - .:/app
    command: air
    environment:
      - ENV=development

  frontend:
    image: node:20-alpine
    working_dir: /frontend
    volumes:
      - ./frontend:/frontend
    command: npm run dev:all

  caddy:
    image: caddy:2.7-alpine
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ${PWD}/caddy/Caddyfile.dev:/etc/caddy/Caddyfile
