@import "tailwindcss";

@source "../../../internal/http/templates/**/*.templ";
@source "../../src/**/*.ts";

@theme {
  /* breakpoints */
  --breakpoint-xs: 480px;

  /* spacing */
  --spacing-nav-height-lg: 96px;
  --spacing-nav-height-sm: 80px;

  /* base colors */
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-black: #000000;

  /* background */
  --color-background: #ecf7fb;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;

  /* main */
  --color-main-50: #ecfbf7;
  --color-main-100: #c5f2e6;
  --color-main-200: #9ee9d6;
  --color-main-300: #77e0c6;
  --color-main-400: #50d7b5;
  --color-main-500: #3cd3ad;
  --color-main-600: #30a98a;
  --color-main-700: #247f68;
  --color-main-800: #185445;
  --color-main-900: #061511;

  /* second */
  --color-second-25: #eee8e9;
  --color-second-50: #ddd1d4;
  --color-second-100: #ccbabe;
  --color-second-200: #aa8c93;
  --color-second-300: #875d68;
  --color-second-400: #652f3d;
  --color-second-500: #541827;
  --color-second-600: #43131f;
  --color-second-700: #320e17;
  --color-second-800: #220a10;
  --color-second-900: #110508;

  /* third */
  --color-third-25: #e8e9ee;
  --color-third-50: #babecc;
  --color-third-100: #8c93aa;
  --color-third-200: #5d6887;
  --color-third-300: #465276;
  --color-third-400: #2f3d65;
  --color-third-500: #182754;
  --color-third-600: #16234c;
  --color-third-700: #131f43;
  --color-third-800: #0e1732;
  --color-third-900: #0a1022;

  /* grey */
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;
}

[x-cloak] {
  display: none !important;
}

.btn-loading > .btn-spinner {
  opacity: 0;
  pointer-events: none;
}

.btn-loading > .btn-label {
  visibility: visible;
}

.btn-loading.htmx-request > .btn-label {
  visibility: hidden;
}

.btn-loading.htmx-request > .btn-spinner {
  opacity: 1;
}

.htmx-request .btn-loading > .btn-label {
  visibility: hidden;
}

.htmx-request .btn-loading > .btn-spinner {
  opacity: 1;
}

.modal-backdrop-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}

.is-redirecting .redirect-overlay {
  display: flex;
}
