package blog

import (
	"alexlupatsiy.com/personal-website/frontend/src/views/components"
	"alexlupatsiy.com/personal-website/frontend/src/views/layout"
)

templ Blog(title, date, intro, content string) {
	@layout.PartialRender() {
		<div id="body-section">
			@components.Section() {
				<div class="max-w-4xl mx-auto mb-10 pt-32">
					@templ.Raw(content)
				</div>
			}
		</div>
	}
}
