@import "tailwindcss";
@config "../../tailwind.config.js";

[x-cloak] {
    display: none !important;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grad {
    --grad-color: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    background-image: var(--grad-color);
    transition: 0.4s;
    background-size: 200% auto;
    color: white;
}

.btn-grad:hover {
    background-position: right center;
}

.gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}