package homepage

templ Footer() {
	<div class="h-96 w-full flex gap-6 my-10">
		<div class="h-full flex flex-col gap-6 w-1/2">
			<div class="h-1/2  bg-grey-500 rounded-3xl"></div>
			<div class="h-1/2 bg-grey-500 rounded-3xl"></div>
		</div>
		<div class="h-full bg-grey-500 w-1/2 rounded-3xl"></div>
	</div>
}
