package homepage

templ LandingPage() {
	<div class="h-screen pt-24">
		<div class="h-full hidden md:flex flex-col justify-center items-center py-10 pb-14">
			<div class="relative flex-1 w-full h-full flex flex-col justify-center items-center py-10 pb-14">
				<div class="bg-main-500 h-3/4 rounded-3xl absolute left-0 top-0 w-[calc(50%+20px)] shadow-xl z-10">
					<div class="flex flex-col gap-12 mx-32 my-20 text-white">
						<h1 class="text-7xl">I <span class="underline">solve</span> <br/> problems!</h1>
						<h2 class="text-4xl">Even the difficult ones</h2>
					</div>
				</div>
				<div class="bg-[#DE672B] h-3/4 rounded-3xl absolute right-0 bottom-0 w-[calc(50%+20px)] shadow-md">
					<p class="text-white mx-32 my-20">
						<span class="text-4xl">Hey there! &nbsp; 👋🏻</span>
						<br/>
						<br/>
						<span class="text-xl">I'm Alex, a software engineer based in Dortmund, Germany.</span>
						<br/>
						<br/>
						<span class="text-xl">
							I'm passionate about building software that solves real-world problems and helps people.
						</span>
						<br/>
						<br/>
						<span class="text-xl">
							Currently, I'm finishing my Master's degree in Computer Science with a focus on Robotics at TU Dortmund.
						</span>
					</p>
				</div>
				<div
					class="absolute left-[calc((50%+20px)/2)] bottom-[12.5%] -translate-x-1/2 translate-y-1/2  bg-white
						flex shadow-md shadow-[#4CB8C4] hover:shadow-[#3CD3AD] hover:translate-y-[calc(50%-2px)] 
						transition-all duration-700 px-6 py-4  justify-center gap-4 items-center rounded-2xl overflow-hidden"
				>
					<p class="text-xl">Get in touch!</p>
					<button class="btn-grad px-5 py-3 rounded-xl shadow-inner text-xl" hx-on:click="test()">Email me</button>
				</div>
			</div>
		</div>
		<div class="h-full flex md:hidden flex-col gap-6 justify-center items-center pt-2 pb-6">
			<div class="relative flex-1 w-full h-full flex flex-col justify-center items-center py-10 pb-14">
				<div class="bg-main-500 h-[calc(50%+10px)] rounded-3xl absolute left-0 top-0 w-10/12 shadow-xl z-10">
					<div class="flex flex-col gap-12 mx-12 my-12 text-white">
						<h1 class="text-4xl">I <span class="underline">solve</span> <br/> problems!</h1>
						<h2 class="text-xl">Even the difficult ones</h2>
					</div>
				</div>
				<div class="bg-[#DE672B] h-[calc(50%+10px)] rounded-3xl absolute right-0 bottom-0 w-10/12 shadow-md">
					<p class="text-white mx-5 my-5 mt-10 text-lg">
						<span class="text-xl">Hey there! &nbsp; 👋🏻</span>
						<br/>
						<br/>
						<span class="">I'm Alex, a software engineer based in Dortmund, Germany.</span>
						<br/>
						<br/>
						<span class="">
							I'm passionate about building software that solves real-world problems and helps people.
						</span>
					</p>
				</div>
			</div>
			<div
				class="bg-white flex justify-center gap-6 shadow-md shadow-[#4CB8C4] hover:shadow-[#3CD3AD] hover:translate-y-0.5] 
						transition-all duration-700 px-6 py-4 n items-center rounded-2xl overflow-hidden"
			>
				<p class="text-xl">Get in touch!</p>
				<button class="btn-grad px-5 py-3 rounded-xl shadow-inner text-xl" hx-on:click="test()">Email me</button>
			</div>
		</div>
	</div>
}
