package homepage

import "alexlupatsiy.com/personal-website/frontend/src/views/components"

templ LandingPage() {
	<div class="h-[calc(100vh-96px)] min-h-[700px]">
		<div class="h-full hidden md:flex flex-col justify-center items-center py-10 pb-14">
			<div class="relative flex-1 w-full h-full flex flex-col justify-center items-center py-10 pb-14">
				<div class="bg-main-500 h-3/4 rounded-3xl absolute left-0 top-0 w-[calc(50%+20px)] shadow-xl z-10">
					<div class="flex h-full flex-col justify-between px-14 py-16 lg:px-16 xl:px-24 xl:py-20 text-white">
						<div>
							<h1 class="text-6xl lg:text-7xl">I <span class="underline">solve</span> <span>&nbsp</span><br class="2xl:hidden"/> problems!</h1>
							<h2 class="text-3xl lg:text-3xl mt-6">Even the difficult ones</h2>
						</div>
						<div class="2xl:mx-auto 2xl:mb-10">
							@getInTouchButton()
						</div>
					</div>
				</div>
				<div
					class="bg-[#DE672B] h-3/4 rounded-3xl absolute right-0 bottom-0 w-[calc(50%+20px)] shadow-md 
							flex flex-col pl-20 pr-12 py-10 lg:pl-24 lg:pr-16 lg:py-14"
				>
					<div class="text-white text-lg lg:text-xl [&>p]:mb-5">
						<p class="text-2xl">Hey there! &nbsp; 👋🏻</p>
						<p class="">I'm Alex, a software engineer based in Dortmund, Germany.</p>
						<p class="">
							I'm passionate about building software that solves real-world problems and helps people.
						</p>
						<p class="">
							Currently, I'm finishing my Master's degree in Computer Science with a focus on Robotics at TU Dortmund.
						</p>
					</div>
					<div class="h-16 flex justify-end mt-auto">
						@components.Signature()
					</div>
				</div>
			</div>
		</div>
		<div class="h-full flex md:hidden flex-col gap-6 justify-center items-center pt-2 pb-6">
			<div class="relative flex-1 w-full h-full flex flex-col justify-center items-center py-10 pb-14">
				<div class="bg-main-500 h-[calc(50%+10px)] rounded-3xl absolute left-0 top-0 w-10/12 shadow-xl z-10">
					<div class="flex flex-col h-full justify-between px-5 py-8 sm:px-10 sm:py-10 text-white items-center">
						<div class="flex flex-col gap-4">
							<h1 class="text-4xl sm:text-6xl">I <span class="underline">solve</span> problems!</h1>
							<h2 class="text-xl sm:text-3xl">Even the difficult ones</h2>
						</div>
						<div>
							@getInTouchButton()
						</div>
					</div>
				</div>
				<div
					class="bg-[#DE672B] h-[calc(50%+10px)] rounded-3xl absolute right-0 bottom-0 w-10/12 shadow-md 
							flex flex-col px-8 pb-8 pt-10"
				>
					<div class="text-white text-lg [&>p]:mb-2.5">
						<p class="text-xl">Hey there! &nbsp; 👋🏻</p>
						<p class="">I'm Alex, a software engineer based in Dortmund, Germany.</p>
						<p class="">
							I'm passionate about building software that solves real-world problems and helps people.
						</p>
					</div>
					<div class="h-12 flex justify-end mt-auto">
						@components.Signature()
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ getInTouchButton() {
	<div
		class="bg-white flex w-fit shadow-md transition-all duration-700 px-3 py-2.5 sm:px-6 sm:py-4 
				justify-center gap-2 lg:gap-4 items-center rounded-2xl overflow-hidden"
	>
		<p class="text-lg sm:text-xl text-main-800">Get in touch!</p>
		@components.EmailButtonSM()
	</div>
}
