package homepage

templ Panel() {
	<div class="h-screen py-32 w-full relative">
		<div id="parallax-panel-wrapper" class="[--translate-y-panel:0] w-full h-full rounded-3xl shadow-lg overflow-hidden bg-black relative">
			<img src="/public/images/dima-solomin-VbRvcSpzOV4-unsplash.jpg" class="absolute object-cover bottom-0 translate-y-[var(--translate-y-panel)]"/>
		</div>
	</div>
}
