package components

templ Badge(name string) {
	<p
		class="flex flex-row items-center justify-center px-3 py-1.5 text-md 
			  rounded-xl bg-third-300 border-third-500  text-white"
	>
		{ name }
	</p>
}
