package components

templ Lg() {
	<button
		class="px-8 py-4 rounded-2xl active:scale-95 hover:bg-main-700 transition 
			 bg-main-500 text-white flex items-center gap-2 w-fit text-xl"
	>
		{ children... }
	</button>
}
