package views

templ Body() {
	@Home()
	@TechStack()
	<div class="flex justify-center pt-32">
		<h2 class="text-4xl max-w-4xl text-center">Powered by these tools, I bring ideas to life through innovative apps.</h2>
	</div>
	@Panel()
}
