package views

templ Content() {
	<h1 class="p-5">This is a test</h1>
	<button hx-get="/test1" hx-target="#target">Click me</button>
	<button hx-get="/test2" hx-target="#target">Click Again</button>
	<p id="target" class="font-bold">This will be switched out</p>
}