package views

templ Home() {
	@Layout() {
		<div class="relative h-screen w-screen">
			<h1 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl font-bold">Alex Lupatsiy</h1>
		</div>
	}
}
