package views

templ Test() {
	@Layout() {
		<div class="wrapper">
			<header>
				// <div  class="background"/>
				<img src="/public/images/image1.jpg" class="foreground"/>
				<h1 class="title">Welcome!</h1>
			</header>
			<section>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis unde 
				illo neque at hic quisquam, nulla consectetur, itaque maxime sit iusto aliquam culpa 
				reiciendis eaque recusandae vitae modi, animi expedita perferendis inventore. Culpa 
				incidunt odit dicta quibusdam ullam facilis eum magnam, consectetur voluptates 
			</section>
			<div class="h-screen"></div>
		</div>
	}
}
